@import url('https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css');
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Hack', system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color:  #00FF00;
  background-color: #242424;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  padding: 0.2em 0.2em;
  margin: 1rem;
  font-size: 1em;
  font-weight: 500;
  color:  #00FF00;
  font-family: 'Hack', system-ui, Avenir, Helvetica, Arial, sans-serif;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-bottom: #00FF00;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

